body{
    color: rgb(255, 255, 255); /*Cor da letra*/
    font-family: Inter, sans-serif; /*Fonte da letra*/
    background-color: rgb(22, 28, 45); /*Cor de fundo da página*/
}

.header-titulo-meu-nome{
    margin-left: 30px; /*margem do lado esquerdo*/
    font-size: 24px; /*Tamanho da fonte*/
}
    
.titulo-um-pouco-sobre-mim{
    font-size: 34px; /*Tamanho da fonte*/
    margin-top: -5px; /*Margem de cima*/
    margin-bottom: 24px; /*Margem de baixo*/
}
    
p{
    line-height: 38px; /*Altura da linha*/
}
    
header{
    margin-bottom: 80px; /*Margem de baixo*/
}
    
main{
    margin-top: 20px; /*Margem de cima*/
}
    
.um-pouco-sobre-mim {
    height: 600px; /*Altura da div*/
    display: flex; /*Divisão da div-img-sobre-mim com div-text-sobre-mim*/
    justify-content: center; /*Centralizar div*/
    flex-wrap: wrap; /*Flexibilidade dos itens, quando a tela diminui, com o wrap os itens flexíveis são quebrados em multiplas linhas.*/
    font-size: 20px; /*Tamanho da fonte*/
    text-align: justify; /*Deixa o texto certinho*/
}
    
.div-img-sobre-mim, .div-text-sobre-mim{
    width: 500px; /*Largura do texto*/
    margin: 30px; /*Margem total*/
}
    
img{
    width: 500px; /*Largura da img*/
    height: 500px; /*Altura da img*/
}
    
hr{
    width: 920px; /*Largura da linha do hr*/
}